In [121]:
import pandas as pd
import numpy as np

In [122]:
### Question 1
# What's the version of Pandas that you installed?
pd.__version__
# Version is 2.1.0

'2.1.0'

In [123]:
 !wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-17 21:21:17--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1,4M) [text/plain]
Saving to: ‘housing.csv’

housing.csv         100%[===================>]   1,36M  --.-KB/s    in 0,1s

2023-09-17 21:21:18 (13,8 MB/s) - ‘housing.csv’ saved [1423529/1423529]

In [124]:
df = pd.read_csv(r'/home/tom/projects/ml-zoomcamp/01/housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [125]:
### Question 2

# How many columns are in the dataset?

df.shape[1] # gets the num cols
# 10 columns in the dataset

10

In [126]:
### Question 3

# Which columns in the dataset have missing values?
df.isnull().sum()
# only 'total_bedrooms' column

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [127]:

### Question 4

# How many unique values does the `ocean_proximity` column have?

df[['ocean_proximity']].nunique()

# 5 unique values in 'ocean_proximity' column

ocean_proximity    5
dtype: int64

In [128]:

### Question 5

# What's the average value of the `median_house_value` for the houses located near the bay?

df[
    df.ocean_proximity == "NEAR BAY"
].median_house_value.mean().round(0)
# Average value of the 'median_house_value' is 259212.0

259212.0

In [129]:
### Question 6

# 1. Calculate the average of `total_bedrooms` column in the dataset.
# 2. Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
# 3. Now, calculate the average of `total_bedrooms` again.
# 4. Has it changed?

# Has it changed?

# > Hint: take into account only 3 digits after the decimal point.

# 1
avg_bedrooms_with_na = df.total_bedrooms.mean().round(3)
print(avg_bedrooms_with_na)
# 2
df.total_bedrooms = df.total_bedrooms.fillna(avg_bedrooms_with_na)
print(df.isnull().sum())
# 3
avg_bedrooms_filled_na_with_mean = df.total_bedrooms.mean().round(3)
print(avg_bedrooms_filled_na_with_mean)

# 4
"Yes" if avg_bedrooms_with_na != avg_bedrooms_filled_na_with_mean else "No"

# No, mean hasn't changed

537.871
longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64
537.871

'No'

In [130]:
### Question 7

# 1. Select all the options located on islands.
# 2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
# 3. Get the underlying NumPy array. Let's call it `X`.
# 4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
# 5. Compute the inverse of `XTX`.
# 6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
# 7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
# 8. What's the value of the last element of `w`?

# > **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

# 1
df.ocean_proximity.unique()
options = df[
    df.ocean_proximity == 'ISLAND'
]

# 2
selected_cols = options[['housing_median_age', 'total_rooms', 'total_bedrooms']]

# 3
X = selected_cols.values

# 4
XT = X.T
XTX = XT.dot(X)

# 5
XTX_inv = np.linalg.inv(XTX)

# 6
y = np.array([950, 1300, 800, 1000, 1300])

# 7
w = XTX_inv.dot(XT).dot(y)

# 8
w[-1].round(4)
# Last element of 'w' is 5.699229455065586

5.6992